# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Generate Random Text'
      'submenu': [
        { 'label': 'Generate', 'command': 'genrandom:generate' }
      ]
    ]
  }
]
